body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    
    background-color: #03001d;
    color: white;
}

main#app-root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr;
    grid-template-areas: "header" "body";

    width: 100%;
    height: 100%;
}