header {
    grid-area: header;
    background-color: #111a2c;

    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;

    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.5rem;
    }
}